@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fredoka+One&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F5F4;
    overflow-x: hidden;
}

.container {
    max-width: 1180px;
    margin: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

header nav .menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.1;
}

header nav .login {
    display: flex;
    align-items: center;
    flex-grow: 0.1;
    justify-content: space-between;
}

header nav ul li {
    display: inline;
    margin-right: 30px;
}

header nav ul li a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    text-decoration: none;
}

header nav .active,
header nav ul li a:hover {
    color: #000;
}

i {
    color: #757575;
}

header nav ul li a:hover+i {
    color: #000;
}

.login .text {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c3dce3;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #2b788b;
    text-decoration: none;
    margin-right: 15px;
}

.login .profile a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0.2;
    text-decoration: none;
}

.login .profile span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
}

.login button {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.login .profile span:hover {
    color: #000000;
}

article h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #2B788B;
    margin-top: 97px;
}

.article-text #p1 {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #000000;
    overflow: hidden;
    margin-top: 24px;
}

.article-text #p2 {
    width: 396.89px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    margin-top: 30px;

}

.article-text #span1 button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    letter-spacing: -0.04em;
    color: #2B788B;
    align-items: center;
    padding: 14px 22px;
    gap: 19px;
    width: 165px;
    height: 44px;
    background: #C3DCE3;
    border-radius: 100px;
    margin-top: 32px;
}

.article-text #span1 button:hover {
    color: #000;
}

.article-text #p3 {
    position: absolute;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-left: 30px;
    margin-top: 45px;
    color: #000000;
}

.article-text #i1 {
    position: absolute;
    font-size: 30px;
    margin-top: 53px;
    color: #2B788B;
}

.article-text #p4 {
    position: absolute;
    width: 129px;
    height: 40px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-left: 135px;
    margin-top: 45px;
    color: #2B788B;
}

.article-text #p5 {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -0.04em;
    margin-top: 85px;
    margin-left: 40px;
    color: #585858;

}

.article-text hr {
    position: absolute;
    width: 0px;
    height: 40.78px;
    border: 1.21942px solid #E0E0E0;
    margin-left: 200px;
    margin-top: 50px;

}

.article-text #i2 {
    position: absolute;
    font-size: 30px;
    margin-top: 55px;
    margin-left: 15%;
    color: #2B788B;
    transform: rotate(90deg);
}

.article-text #p6 {
    position: absolute;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-left: 18%;
    margin-top: 45px;
    color: #000000;
}

.article-text #p7 {
    position: absolute;
    width: 129px;
    height: 40px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-top: 45px;
    margin-left: 20%;
    color: #2B788B;
}

.article-text #p8 {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -0.04em;
    margin-top: 85px;
    margin-left: 17%;
    color: #585858;
}

#img1 {
    position: absolute;
    background-size: 90%;
    background-repeat: no-repeat;
    width: 143px;
    height: 171px;
    left: 50%;
    top: 48%;
}

#img2 {
    position: absolute;
    background-size: 90%;
    background-repeat: no-repeat;
    width: 608.73px;
    height: 507.28px;
    right: 10%;
    top: 25%;
}

#img3 {
    position: absolute;
    background-size: 90%;
    background-repeat: no-repeat;
    width: 536px;
    height: 571px;
    left: 72%;
    top: 30%;
}

#p9 {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-top: 33%;
    margin-left: 60%;
}

#p10 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: -0.04em;
    margin-left: 60%;
    margin-top: 30px;
    color: #757575;

}

.article-text #span2 {
    font-family: 'Montserrat';
    font-style: normal;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    align-items: center;
    padding: 14px 22px;
    gap: 19px;
    width: 129px;
    height: 112px;
    background: #F2D4DC;
    border-radius: 14px;
    margin-top: 32px;
    margin-left: 60%;
}

#span2 button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 10px;
    color: #945069;
}

#span2 button:hover {
    color: #6f525d;
}

#span2 button i {
    color: #945069;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.04em;
}

#span2 button i:hover {
    color: #6f525d;
}

.article-text #span3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    padding: 14px 22px;
    gap: 19px;
    width: 172px;
    height: 112px;
    left: 152.05px;
    top: 239px;
    background: #C3DCE3;
    border-radius: 14px;
    margin-left: 58%;
    margin-top: 60.4%;
}

#span3 button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.04em;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: #2B788B;
}

#span3 button:hover {
    color: #1f4a55;
}

#span3 button i {
    color: #2B788B;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.04em;
}

#span3 button i:hover {
    color: #1f4a55;
}

#img4 {
    position: absolute;
    background-size: 90%;
    background-repeat: no-repeat;
    width: 580px;
    height: 445px;
    left: 13%;
    top: 77.5px;
    margin-top: 55%;
}

#img5 {
    position: absolute;
    width: 131px;
    height: 106px;
    left: 0px;
    top: 210.5px;
    margin-top: 60%;
    margin-left: 57.5%;
}

#img6 {
    position: absolute;
    background-size: 80%;
    width: 91px;
    height: 106px;
    left: 193.05px;
    top: 206px;
    margin-left: 58%;
    margin-top: 60%;
}

@media (max-width:576px) {
    header nav .menu ul {
        display: none;
    }
    header .menu hr{
        display: none;
    }

    header .menu img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-size: 16px;
    }

}